.textBarContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f0f0f0;
}

.textInput {
    flex: 1;
    resize: none;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    max-height: 100px;
    overflow-y: auto;
}

.sendButton {
    margin-left: 10px;
    background-color: #009688;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

.sendButton:hover {
    background-color: #00796b;
}
